.section4 {
  margin-top: 30px;
  margin-left: 3px;
}

.section4 h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;

  color: var(--dark);
}

.section4-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  width: 1180px;
  min-height: 640px;
  margin-top: 24px;
}

@media (max-width: 1280px) {
  .section4 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section4 h2 {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
  }

  .section4-wrapper {
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 989px) {
  .section4 {
    max-width: 989px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section4 h2 {
    font-size: 22px;
    font-style: normal;
    line-height: normal;
  }

  .section4-wrapper {
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: auto;
    width: 100%;
    min-height: 640px;
    height: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .section4 {
    max-width: 600px;
    width: 100%;
    padding-inline: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section4 h2 {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
  }

  .section4-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: auto;
    width: 100%;
    /* min-height: 640px; */
    height: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .section4 {
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 20px;
  }

  .section4 h2 {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-left: 10px;
  }

  .section4-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 8px;
    max-width: 360px;
    min-height: 640px;
    height: 100%;
    margin-top: 10px;
  }
}
