.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  width: min(100%, 1180px);
}

.pagination {
  display: flex;
  gap: 9px;
  margin-top: 30px;
  margin-bottom: 43px;
}

.choose-amount {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;

  width: 125px;
  height: 40px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;

  cursor: pointer;
}

.choose-amount p {
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
}

.choose-amount-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 45px;

  background: #fff;

  width: 125px;
  padding: 8px 0px;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);
}

.choose-amount-list li {
  list-style: none;
  /* display: flex;
  justify-content: center; */

  width: 100%;
  height: 36px;
  padding: 9px 16px 8px 16px;

  cursor: pointer;
}

.choose-amount-list li:hover {
  background: #e5f1ff;
}

.choose-amount-list li span {
}

.choose-amount-list li:active span {
  color: #0d6efd;
}

.switch-pages {
  display: flex;
}

.pages {
  display: flex;
  list-style: none;
}

.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 40px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 40px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  .pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    width: min(100%, 360px);
    padding-inline: 10px;
    margin-inline: auto;
  }

  .pagination {
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .choose-amount {
    position: relative;
    gap: 10px;

    width: 100px;
    height: 35px;
  }

  .choose-amount p {
    font-size: 14px;
  }

  .choose-amount-list {
    top: 40px;
    width: 100px;
  }

  .left-arrow {
    width: 40px;
    height: 35px;
  }

  .right-arrow {
    width: 40px;
    height: 35px;
  }
}
