.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 40px;
  background: #fff;
  border: 1px solid #dee2e7;

  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;

  cursor: pointer;
}

.page span {
  pointer-events: none;
}

.active {
  background: #eff2f4;
  color: #8b96a5;
}

@media (max-width: 768px) {
  .page {
    width: 40px;
    height: 35px;

    font-size: 14px;
  }
}

/* @media (max-width: 480px) {
  .page {
    width: 40px;
    height: 35px;

    font-size: 14px;
  }
} */
