.saved-cards-container {
  width: 100%;
  overflow: hidden;
}

.saved {
  width: 100%;
  height: min(100%, 475px);

  padding: 20px 20px 23px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.saved h3 {
  color: #1c1c1c;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.saved-cards {
  display: flex;
  gap: 20px;

  margin-top: 22px;
  cursor: grab;
}

.no-products {
  margin-top: 20px;
  color: rgb(255, 123, 0);
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .saved {
    width: min(100%, 360px);
    height: min(100%, 475px);

    padding: 0 10px 0;

    background: none;
    border: none;
    border-radius: 0;
  }

  .saved h3 {
    display: none;
  }

  .saved-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 0;
    margin-bottom: 20px;
  }
}
