:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.section5 {
  margin-top: 30px;
  margin-left: 3px;
  margin-bottom: 46px;
}

.section5-services {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;

  color: var(--dark);
}

.section5-services-cards {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

.section5-suppliers {
  margin-top: 30px;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.section5-flags {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px 18px;
  margin-top: 24px;
  /* margin-left: -1px; */
}

@media (max-width: 480px) {
  .section5 {
    display: none;
  }
}
