.list-container {
  max-width: 920px;
  width: 100%;

  margin-top: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
