.product {
  border-bottom: 1px solid #dee2e7;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.product-image-info {
  display: flex;
  gap: 10px;
}

.image {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.image img {
  max-width: 63px;
  max-height: 63px;
}

.product-info h4 {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.product-info-description {
  max-width: 429px;
  margin-top: 6px;
}

.product-info-description span {
  color: #8b96a5;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.card-btns {
  display: flex;
  gap: 9px;
}

.card-btns button {
  height: 30px;
  margin-top: 10px;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);

  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: transform 0.2s;
  cursor: pointer;
}

.remove-btn {
  color: #fa3434;
}

.remove-btn:hover {
  border: 1px solid #fa3434;
  color: #fa3434;
  transform: scale(0.95);
}

.later-btn {
  color: #0d6efd;
}

.later-btn:hover {
  border: 1px solid #0d6efd;
  color: #0d6efd;
  transform: scale(0.95);
}

.price-quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.price {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.pcs-dropdown {
  display: flex;
  align-items: center;
  position: relative;

  width: 123px;
  height: 40px;

  border: 1px solid #dee2e7;
  border-radius: 6px;

  cursor: pointer;
}

.pcs-text {
  pointer-events: none;
}

.pcs-dropdown p {
  display: flex;
  gap: 3px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);
}

.pcs-dropdown img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  pointer-events: none;
}

.pcs-list {
  position: absolute;
  top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fff;

  width: 123px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);
}

.pcs-list li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 36px;
  /* padding: 9px 16px 8px 16px; */
  cursor: pointer;
}

.pcs-list li:hover {
  background: #e5f1ff;
}

.hidden {
  display: none;
}
