.cart-wrapper {
  width: min(100%, 1180px);
}

.cart {
  display: flex;
  gap: 20px;
}

.cart-title {
  margin-block: 27px 23px;

  color: #1c1c1c;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.products {
  width: min(100%, 880px);
  height: min(100%, 552px);
  padding: 23px 20px 21px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.products-btns {
  display: flex;
  justify-content: space-between;
}

.back-btn {
  width: 159px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  border: none;
  border-radius: 6px;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);

  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  transition: transform 0.2s;
}

.back-btn:hover {
  transform: scale(0.95);
}

.remove-all {
  width: 115px;
  height: 40px;

  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;

  color: var(--primary, #0d6efd);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  transition: transform 0.2s;
}

.remove-all:hover {
  transform: scale(0.95);
}

.checkout-wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coupon {
  height: 110px;
  padding-top: 20px;
  padding-left: 16px;
  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.coupon h4 {
  color: #505050;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.coupon-form {
  margin-top: 9px;
  display: flex;
  border-radius: 7px;
}

/* .coupon-form:focus-within {
  outline: 4px solid #1572fd63;
  border: 2px solid var(--primary);
} */

.coupon-form input {
  width: 164px;
  height: 40px;
  padding-left: 10px;

  color: #1c1c1c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  outline: none;

  border: 1px solid #e0e0e0;
  border-radius: 6px 0 0 6px;
}

.coupon-form input::placeholder {
  color: #8b96a5;
}

.coupon-form input:focus {
  outline: 4px solid #1572fd63;
  border: 2px solid var(--primary);
}

.coupon-form button {
  width: 83px;
  height: 40px;

  background: #fff;

  color: #0d6efd;
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: 1px solid #e0e0e0;
  border-radius: 0 6px 6px 0;

  transition: transform 0.2s;
  cursor: pointer;
}

.coupon-form button:hover {
  transform: scale(0.95);
}

.checkout {
  width: 280px;
  height: 302px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.checkout-calc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 20px;
  margin-inline: 20px 16px;
  padding-bottom: 17px;
}

.subtotal,
.discount,
.tax {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal-name,
.subtotal-money,
.discount-name,
.tax-name {
  color: #505050;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.discount-money {
  color: #fa3434;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.tax-money {
  color: #00b517;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.total-paying-wrapper {
  margin-inline: 16px;
  margin-top: 17px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4px;
}

.total-name {
  color: #1c1c1c;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.total-money {
  color: #1c1c1c;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.checkout-btn {
  width: min(100%, 248px);
  height: 54px;
  margin-top: 22px;

  background: #00b517;
  border: none;
  border-radius: 8px;

  color: #fff;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: transform 0.2s;
  cursor: pointer;
}

.checkout-btn:hover {
  transform: scale(0.95);
}

.paying-methods {
  max-width: 202px;
  margin-inline: auto;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.paying-methods li {
  width: 34px;
  height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #eee;
  border-radius: 4px;
}

.customer-info {
  height: 107px;
  display: flex;
  align-items: center;
  gap: 54px;
}

.customer-info-secure,
.customer-info-support,
.customer-info-delivery {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer-info-image {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #dee2e7;
  border-radius: 50%;
}

.super-discount {
  color: #fff;
  margin-block: 20px 41px;
}
