.product {
  border-bottom: 1px solid #dee2e7;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.product-image-info {
  display: flex;
  gap: 10px;
}

.image {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.image img {
  max-width: 63px;
  max-height: 63px;
}

.product-info h4 {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.product-info-description {
  max-width: 429px;
  margin-top: 6px;
}

.product-info-description span {
  color: #8b96a5;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.card-btns {
  display: flex;
  gap: 9px;
}

.card-btns button {
  height: 30px;
  margin-top: 10px;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);

  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: transform 0.2s;
  cursor: pointer;
}

.remove-btn {
  color: #fa3434;
}

.remove-btn:hover {
  border: 1px solid #fa3434;
  color: #fa3434;
  transform: scale(0.95);
}

.later-btn {
  color: #0d6efd;
}

.later-btn:hover {
  border: 1px solid #0d6efd;
  color: #0d6efd;
  transform: scale(0.95);
}

.price-quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.price {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.pcs-dropdown {
  display: flex;
  align-items: center;
  position: relative;

  width: 123px;
  height: 40px;

  border: 1px solid #dee2e7;
  border-radius: 6px;

  cursor: pointer;
}

.pcs-text {
  pointer-events: none;
}

.pcs-dropdown p {
  display: flex;
  gap: 3px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);
}

.pcs-dropdown img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  pointer-events: none;
}

.pcs-list {
  position: absolute;
  top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fff;

  width: 123px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);
  z-index: 1;
}

.pcs-list li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 36px;
  /* padding: 9px 16px 8px 16px; */
  cursor: pointer;
}

.pcs-list li:hover {
  background: #e5f1ff;
}

/* Responsive */

.resp-quantity {
  display: none;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin-top: 19px;
  position: absolute;
  left: -82px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.resp-quantity span {
  width: 72px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-inline: 1px solid #dee2e7;

  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
}

.resp-quantity button {
  flex-grow: 1;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resp-quantity button:active {
  background: #dee2e7;
}

.options {
  display: none;
}

@media (max-width: 768px) {
  .product {
    border-bottom: 1px solid #dee2e7;
    padding-bottom: 20px;
    padding-inline: 16px 13px;
    height: 165px;
  }

  .image {
    min-width: 72px;
    height: 72px;
  }

  .image img {
    max-width: 58px;
    max-height: 58px;
  }

  .product-info {
    position: relative;
  }

  .product-info h4 {
    height: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }

  .product-info-description {
    margin-top: 5px;
  }

  .product-info-description span {
    font-size: 13px;
    line-height: normal;
  }

  .product-info-description span:nth-child(3) {
    display: none;
  }

  .card-btns {
    padding: 15px 20px 20px;

    position: absolute;
    top: 0;
    right: -30px;
    display: flex;
    flex-direction: column;

    background: #ffffff;
    border: 1px solid #dee2e7;
    border-radius: 6px;

    box-shadow: 0 0 7px 3px #1c1c1c46;
    z-index: 1;
  }

  .options {
    display: block;
  }

  .price-quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
  }

  .price {
    order: 1;
  }

  .pcs-dropdown {
    display: none;
  }

  .resp-quantity {
    display: flex;
  }
}

@media (max-width: 480px) {
  .product {
    border-bottom: 1px solid #dee2e7;
    padding-bottom: 20px;
    padding-inline: 16px 13px;
    height: 165px;
  }

  .image {
    min-width: 72px;
    height: 72px;
  }

  .image img {
    max-width: 58px;
    max-height: 58px;
  }

  .product-info {
    position: relative;
  }

  .product-info h4 {
    height: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }

  .product-info-description {
    margin-top: 5px;
  }

  .product-info-description span {
    font-size: 13px;
    line-height: normal;
  }

  .product-info-description span:nth-child(3) {
    display: none;
  }

  .card-btns {
    padding: 15px 20px 20px;

    position: absolute;
    top: 0;
    right: -10px;
    display: flex;
    flex-direction: column;

    background: #ffffff;
    border: 1px solid #dee2e7;
    border-radius: 6px;

    box-shadow: 0 0 7px 3px #1c1c1c46;
    z-index: 1;
  }

  .options {
    display: block;
  }

  .price-quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
  }

  .price {
    order: 1;
  }

  .pcs-dropdown {
    display: none;
  }

  .resp-quantity {
    display: flex;
  }
}

.hidden {
  display: none;
}
