.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 1178px;
  width: 100%;
}

.content {
  display: flex;
  gap: 26px;
}

.content aside {
  margin-left: 3px;
}

.section-products {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.organize-products {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 920px;
  width: 100%;
  min-height: 62px;
  padding-inline: 19px 10px;

  background-color: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.organize-products-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.organize-products-info {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
}

.organize-products-view {
  display: flex;
  align-items: center;
}

/* Verify */

.organize-products-verifing {
  width: 144px;
  height: 36px;
  margin-right: 1px;

  display: flex;
  align-items: center;
}

.organize-products-verifing input {
  appearance: none;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  cursor: pointer;
}

.organize-products-verifing input:checked {
  position: relative;
  background-color: #0d6efd;
  border: 2px solid #0d6efd;
}

.organize-products-verifing input:checked::after {
  content: url('../../assets/mobile-accessories/check-mark.svg');
  position: absolute;
  width: 13px;
  height: 9px;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
}

.organize-products-verifing label {
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
  cursor: pointer;
}

/* Featured */

.organize-products-featured {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 172px;
  height: 40px;
  padding-inline: 10px 8px;

  border: 1px solid #dee2e7;
  border-radius: 6px;

  cursor: pointer;
}

.organize-products-featured-list {
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
  flex-direction: column;

  width: 172px;

  padding-block: 10px;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;

  list-style: none;
}

.organize-products-featured-list li {
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  font-size: 16px;
  cursor: pointer;
}

.organize-products-featured-list li:active {
  color: #0d6efd;
  background: #e5f1ff;
}

.organize-products-featured img {
  transform: rotate(180deg);
}

.show-featured {
  display: flex;
}

/* View Switcher */

.organize-products-switcher {
  display: flex;
  margin-left: 10px;
}

.organize-products-switcher-grid {
  width: 38px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dee2e7;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.organize-products-switcher-list {
  width: 38px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dee2e7;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.active {
  background-color: #eff2f4;
}

/* ****** Responsive ****** */

.resp-sort {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 135px;
  height: 30px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.resp-sort h4 {
  font-size: 13px;
  font-weight: 500;
  color: #1c1c1c;
}

.resp-filter {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
  padding-right: 6px;

  width: 135px;
  height: 30px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.resp-filter h4 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #1c1c1c;
}

@media (max-width: 989px) {
  .content {
    max-width: 989px;
    width: 100%;
    margin-inline: auto;
    position: relative;
    display: flex;
    gap: 0;
  }

  .organize-products {
    justify-content: center;

    width: 100%;
    min-height: 50px;
    padding-inline: 10px;

    border-inline: none;
    border-radius: 0;
  }

  .organize-products-inner-wrapper {
    justify-content: center;
    max-width: 600px;
    width: 100%;
    padding-inline: 30px;
  }

  .organize-products-info {
    display: none;
  }

  .organize-products-verifing {
    display: none;
  }

  .organize-products-featured {
    display: none;
  }

  .organize-products-view {
    gap: 5px;
  }

  .resp-sort {
    position: relative;
    display: flex;
  }

  .resp-sort-list {
    width: 100%;
    position: absolute;
    top: 35px;
    padding-block: 15px;

    display: none;
    flex-direction: column;
    gap: 10px;

    background: #fff;
    border: 1px solid #dee2e7;
    border-radius: 6px;
    list-style: none;

    box-shadow: 0 9px 9px 7px #1c1c1c30;

    z-index: 2;
  }

  .resp-sort-list li {
    padding-inline: 15px;
    display: flex;
    align-items: center;
    color: var(--dark, #1c1c1c);
    font-size: 16px;
    height: 30px;
  }

  .resp-sort-list li:active {
    color: #0d6efd;
    background: #e5f1ff;
  }

  .resp-filter {
    display: flex;
  }

  .organize-products-switcher {
    display: flex;
    margin-left: 0;
  }

  .organize-products-switcher-grid,
  .organize-products-switcher-list {
    width: 30px;
    height: 30px;
  }

  .organize-products-switcher-grid img,
  .organize-products-switcher-list img {
    width: 20px;
    height: 20px;
  }

  .show-sort {
    display: block;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    position: relative;
    display: flex;
    gap: 0;
  }
}

@media (max-width: 480px) {
  .content {
    width: 360px;
    margin-inline: auto;
    position: relative;
    display: flex;
    gap: 0;
  }

  .show-sort {
    display: block;
  }
}
