:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.section3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 3px;
}

.section3-send-quote {
  width: 1180px;
  height: 420px;
  border-radius: 6px;
  background: url('../../assets/home/section3/parcels.png');
}

.section3-gradient-bg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(128deg, #2c7cf1 0%, rgba(0, 209, 255, 0.5) 100%);
}

.section3-title {
  margin-top: 40px;
  margin-left: 40px;
}

.section3-title h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: var(--white);
}

.section3-title p {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--white);
}

.section3-form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 491px;
  height: 346px;
  margin-top: 30px;
  margin-right: 31px;

  border-radius: 6px;
  background-color: var(--white);
}

.section3-form h3 {
  margin-top: 22px;
  margin-left: 20px;

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;

  color: var(--dark);
}

.section3-form input[type='text'] {
  width: 440px;
  height: 40px;
  margin-left: 20px;
  padding-left: 9px;

  color: var(--dark, #1c1c1c);
  font-size: 16px;
  font-weight: 400;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}
.section3-form input[type='text']::placeholder {
  color: var(--dark, #1c1c1c);
  font-size: 16px;
  font-weight: 400;
}

.section3-form textarea {
  max-width: 440px;
  max-height: 73px;
  height: 100%;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 11px;
  font-size: 16px;
  font-weight: 400;

  border: 1px solid #dee2e7;
  border-radius: 6px;

  color: var(--gray-500, #8b96a5);
}

.section3-form-quantity {
  display: flex;
  gap: 8px;
  padding-left: 20px;
}

.section3-form-quantity input[type='number'] {
  /* appearance: none; */
  width: 206px;
  height: 40px;
  padding-left: 10px;

  font-size: 16px;
  font-weight: 400;
  color: var(--dark);

  border: 1px solid #dee2e7;
  border-radius: 6px;
}
.section3-form input[type='text']:focus,
.section3-form textarea:focus,
.section3-form-quantity input[type='number']:focus {
  outline: 4px solid #1572fd63;
  border: 2px solid var(--primary);
}

.section3-form-quantity input[type='number']::placeholder {
  color: var(--dark);
}

.pcs-dropdown {
  display: flex;
  align-items: center;
  position: relative;

  width: 111px;
  height: 40px;

  border: 1px solid #dee2e7;
  border-radius: 6px;

  cursor: pointer;
}

.pcs-dropdown p {
  display: flex;
  gap: 3px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);
}

.pcs-dropdown img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  pointer-events: none;
}

.pcs-list {
  position: absolute;
  top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fff;

  width: 111px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);
}

.pcs-list li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 36px;
  /* padding: 9px 16px 8px 16px; */
  cursor: pointer;
}

.pcs-list li:hover {
  background: #e5f1ff;
}

.section3-form button {
  width: 128px;
  height: 40px;

  margin-left: 20px;
  margin-top: 1px;

  font-size: 16px;
  font-weight: 500;

  border: none;
  border-radius: 6px;
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  color: var(--white);

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.section3-form button:hover {
  background: var(--white);
  color: var(--primary);
  border: 1px solid #dee2e7;
}

/* ************ Responsive ************  */

.section3-btn-resp {
  display: none;
  width: 98px;
  height: 30px;

  margin-left: 0;
  margin-top: 17px;

  font-size: 13px;
  font-weight: 500;

  border: none;
  border-radius: 6px;
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  color: var(--white);

  transition: all 0.2s ease-in-out;
}

@media (max-width: 480px) {
  .section3 {
    margin-top: 10px;
    margin-left: 0;
  }

  .section3-send-quote {
    width: 360px;
    height: 155px;
    border-radius: 0;
    background: url('../../assets/home/section3/parcels.png');
    background-size: cover;
  }

  .section3-gradient-bg {
    flex-direction: column;
    border-radius: 0;
    background: linear-gradient(
      128deg,
      #2c7cf1 0%,
      rgba(0, 209, 255, 0.5) 100%
    );
  }

  .section3-title {
    margin-top: 30px;
    margin-left: 23px;
  }

  .section3-title h2 {
    font-size: 18px;
    letter-spacing: -0.2px;
    color: var(--white);
  }

  .section3-title p {
    display: none;
  }

  .section3-btn-resp {
    display: block;
  }

  .section3-form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 360px;
    height: 346px;
    margin-top: 20px;
    margin-right: 0;
    padding-bottom: 15px;
    border-radius: 0;
    z-index: 1;
  }

  .section3-form h3 {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 18px;
  }

  .section3-form input[type='text'] {
    width: 90%;
    height: 40px;

    margin-left: 18px;
    padding-left: 9px;
  }

  .textarea {
    width: 90%;
    height: 73px;
    margin-left: 18px;
    padding-left: 11px;
  }

  .section3-form-quantity {
    gap: 7px;
    padding-left: 18px;
  }
}

.hidden {
  display: none;
}
