.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(100%, 1180px);
  padding-bottom: 20px;
}

.container h3 {
  margin-top: 20px;
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 480px) {
  .container {
    width: min(100%, 360px);
    padding-inline: 10px;
  }

  .container h3 {
    font-size: 20px;
  }
}
