:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  /* width: 1180px; */

  margin-top: 30px;
  margin-left: 3px;
}

.section2-row1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  height: 240px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
  background: var(--white);
}

.section2-row1-offers {
  width: 280px;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.section2-row1-offers h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: var(--dark);
}

.section2-row1-offers-subtitle {
  margin-top: -3px;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-500);
}

.section2-row1-products-container {
  overflow: hidden;
}

.section2-row1-products {
  width: 895px;
  display: flex;
  cursor: grab;
}

/* *********************************** */

.section2-row2,
.section2-row3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1180px;
  height: 257px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
  background: var(--white);
}

.section2-row2-bg {
  background: '#FFE0B0';
  height: 100%;
}

.section2-row2-home {
  width: 280px;
  height: 100%;

  background: url('../../../assets/home/section2/sofa.png') no-repeat center;
}

.section2-row2-home h3,
.section2-row3-home h3 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;

  color: var(--dark);
}

.section2-row2-home-resptitle,
.section2-row3-home-resptitle {
  display: none;
  /* padding-top: 14px; */

  font-size: 18px;
  font-weight: 600;
  line-height: normal;

  color: var(--dark);
}

.section2-row2-home button,
.section2-row3-home button {
  width: 123px;
  height: 40px;
  margin-top: 17px;
  margin-left: 19px;

  /* padding: 0px 16px; */

  font-size: 16px;
  font-weight: 500;

  border: 1px solid var(--white, #fff);
  border-radius: 6px;
  background: var(--white, #fff);
  color: var(--dark);

  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  cursor: pointer;

  transition: all 0.2s;
}

.section2-row3-home button {
  margin-top: 20px;
}

.section2-row2-home button:hover,
.section2-row3-home button:hover {
  background: var(--primary);
  color: var(--white);
  border: none;
}

.section2-row2-products-container,
.section2-row3-products-container {
  overflow: hidden;
}

.section2-row2-products,
.section2-row3-products {
  width: 895px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;

  cursor: grab;
}

/* *********************************** */

.section2-row3-bg {
  background: '#C4C4C4';
  height: 100%;
}

.section2-row3-home {
  width: 280px;
  height: 100%;

  background: url('../../../assets/home/section2/elecronics-bg.png') no-repeat
    center;
}

.section2-row2-btn-resp,
.section2-row3-btn-resp {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 9px;
  margin-left: 9px;

  width: 141px;
  height: 40px;

  border: none;

  background: var(--white);
  color: var(--primary, #0d6efd);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 480px) {
  .section2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 0;
  }

  .section2-row1 {
    max-width: 360px;
    height: 245px;
    /* border: 1px solid #dee2e7; */
    border: none;
    border-radius: 0;
    overflow: hidden;
  }

  .section2-row1-offers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .section2-row1-offers h2 {
    font-size: 18px;
    line-height: normal;
    /* letter-spacing: -0.2px; */
  }

  .section2-row1-offers-subtitle {
    /* margin-top: -3px; */
    font-size: 13px;
    color: var(--gray-500);
  }

  .section2-row2,
  .section2-row3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 360px;
    height: 270px;

    border: none;
    border-radius: 0;
    background: var(--white);
    overflow: hidden;
  }

  .section2-row2-bg,
  .section2-row3-bg {
    height: auto;
    width: 100%;
  }

  .section2-row2-home {
    display: flex;
    gap: 6px;
    align-items: center;
    width: 100%;
    height: 51px;
    padding-left: 16px;
    border-bottom: 1px solid #e0e0e0;

    background: var(--white);
  }

  .section2-row3-home {
    display: flex;
    gap: 6px;
    align-items: center;
    width: 100%;
    height: 51px;
    padding-left: 16px;
    border-bottom: 1px solid #e0e0e0;

    background: var(--white);
  }

  .section2-row2-home h3,
  .section2-row3-home h3 {
    display: none;
    padding-top: 20px;
    padding-left: 0;
    font-size: 18px;
    line-height: normal;
  }

  .section2-row2-home-resptitle,
  .section2-row3-home-resptitle {
    display: block;
  }

  .section2-row2-home button,
  .section2-row3-home button {
    display: none;
  }

  .section2-row2-products,
  .section2-row3-products {
    display: flex;
    width: 360px;
  }

  .section2-row2-btn-resp,
  .section2-row3-btn-resp {
    display: flex;
  }
  .section2-row1-products div:first-child,
  .section2-row2-products div:first-child,
  .section2-row3-products div:first-child {
    border-left: none;
  }
}
