.item-wrapper {
  width: 100%;
  min-height: 580px;
  padding: 20px 22px 0 19px;
  display: flex;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.item-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-main-image {
  max-width: 380px;
  height: 380px;
  /* height: min(380px, 100%); */
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.item-main-image img {
  width: min(100%, 345px);
  height: min(100%, 345px);
}

.item-all-images-wrapper {
  position: relative;
  width: 360px;
  margin-inline: auto;
  overflow: hidden;
}

.item-all-images {
  display: flex;
  gap: 9px;
  list-style: none;
  transition: all 0.2s;
}

.image {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dee2e7;
  border-radius: 4px;

  cursor: pointer;
}

.active-image {
  border: 1px solid #505050;
}

.image img {
  max-width: 49px;
  max-height: 52px;
}

/* ******************* */

.about-product {
  margin-left: 22px;
  max-width: 430px;
  width: 100%;
  height: 514px;
}

.stock {
  display: flex;
  align-items: center;
  gap: 2px;
}

.stock p {
  color: #00b517;
}

.title {
  max-width: 384px;
  margin-top: 5px;
}

.title h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1c1c1c;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 11px;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating-stars-img {
  display: flex;
}

.rating-stars span {
  color: #ff9017;
}

.dot {
  width: 6px;
  height: 6px;
  margin-inline: 10px;
  background: #dbdbdb;
  border-radius: 50%;
}

.rating-reviews,
.rating-sales {
  display: flex;
  align-items: center;
  gap: 9px;
}

.rating-reviews span,
.rating-sales span {
  color: #787a80;

  font-size: 16px;
  font-weight: 400;
}

/* -- */

.prices {
  margin-top: 11px;
  display: flex;
  gap: 40px;
  background: #fff0df;
  width: max(100%, 430px);
  padding: 16px 0 14px 16px;
}

.prices div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.prices div h4 {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 600;
}

.prices div span {
  color: #606060;
  font-size: 13px;
  font-weight: 400;
}

.prices div:nth-child(2),
.prices div:last-child {
  border-left: 1px solid #bdc1c8;
  padding-left: 10px;
}

.active-price {
  color: #fa3434 !important;
}

/* -- */

.product-description {
  margin-top: 5px;
}

.product-description-row1,
.product-description-row2,
.product-description-row3 {
  width: 100%;
  display: flex;
  padding-block: 14px;

  border-bottom: 1px solid #e0e0e0;
}

.product-description-rows-title {
  max-width: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-description-rows-title h4 {
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
}

.product-description-rows-description {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: #505050;
  font-size: 16px;
  font-weight: 400;
}

.product-description-row3 .product-description-rows-description p:first-child {
  max-width: 189px;
}

.product-description-row3 .product-description-rows-title h4:first-child {
  height: 38px;
}

/* ******************** */

.seller-wrapper {
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seller {
  width: max(100%, 280px);
  height: min(100%, 325px);
  padding: 19px 16px 0;

  border: 1px solid #dee2e7;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
}

.seller-name-wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.seller-name-wrapper span {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c6f3f1;
  border-radius: 4px;

  color: rgba(76, 167, 167, 0.6);
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.seller-name p {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.seller-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 13px;
}

.seller-counrty {
  display: flex;
  align-items: center;
  gap: 17px;
}

.seller-verification,
.seller-shipTo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.seller-counrty span,
.seller-verification span,
.seller-shipTo span {
  color: #8b96a5;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.seller-inquiry-profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 28px;
}

.seller-inquiry-profile button:first-child {
  width: 248px;
  height: 40px;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  border: none;
  border-radius: 6px;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
}

.seller-inquiry-profile button:first-child:hover {
  background: #fff;
  color: #127fff;
  border: 1px solid #127fff;
}

.seller-inquiry-profile button:last-child {
  width: 248px;
  height: 40px;
  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;

  color: #0d6efd;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
}

.seller-inquiry-profile button:last-child:hover {
  background: #fff;
  border: 1px solid #0d6efd;
}

.save {
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.save img {
  pointer-events: none;
}

.save span {
  color: #0d6efd;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.1px;
  pointer-events: none;
}

.AddToCart {
  width: 140px;
  height: 40px;
  margin-top: 20px;
  background: #00b517;

  border: none;
  border-radius: 6px;

  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: transform 0.2s;
}

.AddToCart:hover {
  background: transparent;
  border: 2px solid #00b517;
  color: #00b517;
  transform: scale(0.95);
}

/* Responsive */

.resp-images-switcher {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 59px;
  height: 28px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);

  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.resp-images-switcher-prev {
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  padding-top: 2px;
}

.resp-images-switcher-next {
  width: 50%;
  height: 100%;
  background: none;
  border: none;
}

.resp-seller-inquiry {
  display: none;
  gap: 8px;
  order: 1;
  margin-bottom: 20px;
}

.resp-seller-inquiry button {
  width: 280px;
  height: 40px;

  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  border: none;
  border-radius: 6px;

  color: #fff;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.resp-product-favorite {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
}

.resp-item-description {
  display: none;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
  padding-inline: 16px;
  margin-top: 10px;
}

.resp-item-description p {
  color: #505050;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.resp-item-description span {
  color: #0d6efd;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .item-wrapper {
    width: 100%;
    min-height: 580px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #dee2e7;
    border-radius: 0;
  }

  .item-images {
    width: 360px;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .item-main-image {
    display: none;
  }

  .item-all-images {
    position: relative;
    height: 100%;
    display: flex;
    gap: 2px;
  }

  .resp-images-switcher {
    display: block;
  }

  .image {
    min-width: 305px;
    height: 305px;
    background: #f0f0f0;

    border: none;
    border-radius: 0;
  }

  .active-image {
    border: none;
  }

  .image img {
    max-width: 275px;
    width: 100%;
    max-height: 275px;
  }

  /* ******************* */

  .about-product {
    margin-left: 0;
    max-width: 360px;
    padding-left: 16px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
  }

  .stock {
    display: none;
  }

  .title {
    max-width: 384px;
    margin-top: 5px;
    order: 1;
  }

  .title h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  .rating {
    display: flex;
    align-items: center;
    margin-top: 11px;
  }

  .rating-stars-img {
    display: flex;
    height: 15px;
  }

  .rating-stars span {
    display: none;
  }

  .dot {
    width: 6px;
    height: 6px;
    margin-inline: 10px;
    background: #dbdbdb;
    border-radius: 50%;
  }

  .rating-reviews,
  .rating-sales {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .rating-reviews span,
  .rating-sales span {
    font-size: 13px;
  }

  /* -- */

  .prices {
    margin-top: 6px;
    background: none;
    width: max(100%, 360px);
    padding: 0 0 12px 0;
    order: 1;
  }

  .prices div {
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .prices div h4 {
    font-size: 16px;
  }

  .prices div span {
    color: #8b96a5;
  }

  .prices div span::before {
    content: '(';
  }

  .prices div span::after {
    content: ')';
  }

  .prices div:nth-child(2),
  .prices div:last-child {
    display: none;
  }

  /* -- */

  .resp-seller-inquiry {
    display: flex;
  }

  /* -- */

  .product-description {
    margin-top: 5px;
    order: 1;
  }

  .product-description-row1 {
    margin-bottom: 5px;
  }

  .product-description-row1,
  .product-description-row2 {
    width: 100%;
    display: flex;
    padding-block: 0;
    border-bottom: none;
  }

  .product-description-row3 {
    display: none;
  }

  .product-description-rows-title {
    max-width: 115px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .product-description-rows-description {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: #505050;
    font-size: 16px;
    font-weight: 400;
  }

  .product-description-row3
    .product-description-rows-description
    p:first-child {
    max-width: 189px;
  }

  .product-description-row3 .product-description-rows-title h4:first-child {
    height: 38px;
  }

  .resp-item-description {
    display: flex;
    max-width: 360px;
    padding-inline: 16px;
  }

  /* -- */

  .seller-wrapper {
    display: none;
  }
}
