.item-wrapper {
  width: 100%;
  min-height: 580px;
  padding: 20px 22px 0 19px;
  display: flex;

  background: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.item-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-main-image {
  max-width: 380px;
  height: 380px;
  /* height: min(380px, 100%); */
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.item-main-image img {
  /* max-width: 345px;
  width: 100%; */
  width: min(100%, 345px);
  /* max-height: 345px;
  height: 100%; */
  height: min(100%, 345px);
}

.item-all-images {
  display: flex;
  gap: 9px;

  list-style: none;
}

.image {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dee2e7;
  border-radius: 4px;

  cursor: pointer;
}

.active-image {
  border: 1px solid #505050;
}

.image img {
  max-width: 49px;
  max-height: 52px;
}

/* ******************* */

.about-product {
  margin-left: 22px;
  max-width: 430px;
  width: 100%;
  height: 514px;
}

.stock {
  display: flex;
  align-items: center;
  gap: 2px;
}

.stock p {
  color: #00b517;
}

.title {
  max-width: 384px;
  margin-top: 5px;
}

.title h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1c1c1c;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 11px;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating-stars-img {
  display: flex;
}

.rating-stars span {
  color: #ff9017;
}

.dot {
  width: 6px;
  height: 6px;
  margin-inline: 10px;
  background: #dbdbdb;
  border-radius: 50%;
}

.rating-reviews,
.rating-sales {
  display: flex;
  align-items: center;
  gap: 9px;
}

.rating-reviews span,
.rating-sales span {
  color: #787a80;

  font-size: 16px;
  font-weight: 400;
}

/* -- */

.prices {
  margin-top: 11px;
  display: flex;
  gap: 40px;
  background: #fff0df;
  width: max(100%, 430px);
  padding: 16px 0 14px 16px;
}

.prices div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.prices div h4 {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 600;
}

.prices div span {
  color: #606060;
  font-size: 13px;
  font-weight: 400;
}

.prices div:nth-child(2),
.prices div:last-child {
  border-left: 1px solid #bdc1c8;
  padding-left: 10px;
}

.active-price {
  color: #fa3434 !important;
}

/* -- */

.product-description {
  margin-top: 5px;
}

.product-description-row1,
.product-description-row2,
.product-description-row3 {
  width: 100%;
  display: flex;
  padding-block: 14px;

  border-bottom: 1px solid #e0e0e0;
}

.product-description-rows-title {
  max-width: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-description-rows-title h4 {
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
}

.product-description-rows-description {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: #505050;
  font-size: 16px;
  font-weight: 400;
}

.product-description-row3 .product-description-rows-description p:first-child {
  max-width: 189px;
}

.product-description-row3 .product-description-rows-title h4:first-child {
  height: 38px;
}
