.input-wrapper {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  left: 10px;
  transform: translate(0, 70%);
  padding-inline: 7px;

  background: #fff;
  border-radius: 20px;
  color: #8b96a5;
  font-size: 16px;

  pointer-events: none;
  transition: all 0.2s;
}

.input {
  max-width: 440px;
  width: 100%;
  height: 50px;
  padding-left: 9px;

  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.input:focus {
  outline: 4px solid #1572fd63;
  border: 2px solid var(--primary);
}

.input:focus + .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  transform: translate(0, -50%);
  font-size: 14px;
  color: #0d6efd;
}

.input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.2s;
}

.input:focus::placeholder {
  opacity: 1;
}

.error-msg {
  display: none;
  width: min(100%, 440px);
  margin-top: 5px;
  font-size: 12px;
  padding: 3px;
  color: #fa3434;
}

.input:invalid[focused='true'] {
  border: 2px solid #fa3434;
}

.input:invalid[focused='true'] ~ .error-msg {
  display: block;
}

.input:invalid[focused='true'] ~ .label {
  color: #fa3434;
}
