:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.clothes-card {
  width: 220px;
  height: 310px;

  background: var(--white);
  border: 1px solid #e0e0e0;
  border-radius: 6px;

  cursor: pointer;
}

.clothes-card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  margin: 9px auto 14px auto;
}

.clothes-card-price {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  color: var(--dark);
}

.clothes-card-description {
  width: 186px;
  height: 53px;
  margin-left: 15px;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: var(--gray-500);
}
