:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.section4 {
  margin-top: 30px;
  margin-left: 3px;
}

.section4 h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;

  color: var(--dark);
}

.section4-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  width: 1180px;
  height: 640px;
  margin-top: 24px;
}

@media (max-width: 480px) {
  .section4 {
    margin-top: 20px;
    margin-left: 3px;
  }

  .section4 h2 {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-left: 10px;
  }

  .section4-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 8px;
    max-width: 360px;
    min-height: 640px;
    height: 100%;
    margin-top: 10px;
  }
}
