:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --dark: #1c1c1c;
  --white: #fff;
}

.header-lower {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.header-lower-wrapper {
  max-width: 1182px;
  width: 100%;
  /* margin-right: 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-lower-list {
  display: flex;
  gap: 28px;
}

.header-lower-list-burger {
  position: relative;
  display: flex;
  cursor: pointer;
}

.header-lower-list-burger a {
  margin-left: 6px;
}

.header-lower-list li {
  list-style: none;
}

.header-lower-list li a {
  text-decoration: none;

  color: var(--dark);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header-lower-list li a:active {
  color: var(--primary);
}

.header-lower-list li .burger-allCategory {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 6px;
}

.burger-allCategory-list {
  position: absolute;
  top: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(-50px);
  visibility: hidden;

  background: #fff;

  width: 250px;
  padding: 8px 0px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);

  z-index: 2;

  transition: transform 0.2s ease;
}

.burger-allCategory-list li {
  width: 100%;
  height: 36px;
  padding: 9px 16px 8px 16px;
  cursor: pointer;
}

.burger-allCategory-list li:hover {
  background: #e5f1ff;
}

.burger-allCategory-list li a {
  font-weight: 400;
}

.showAllCat {
  visibility: visible;
  transform: translateX(-10px);
}

.header-help {
  position: relative;
  display: flex;
  gap: 1px;
  cursor: pointer;
}

.header-help p {
  width: 61px;

  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header-lower-dropdown-arrow {
  position: absolute;
  right: 0;
  pointer-events: none;
}

.header-help-dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 30px;

  background: #fff;

  width: 250px;
  padding: 8px 0px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);

  z-index: 2;
}

.header-help-dropdown-list li {
  width: 100%;
  height: 36px;
  padding: 9px 16px 8px 16px;
  cursor: pointer;
}

.header-help-dropdown-list li:hover {
  background: #e5f1ff;
}

.header-help-dropdown-list li a {
  font-weight: 400;
}

/* *********************************************** */

.header-currency-shipping {
  margin-right: -2px;
}

.header-currency-dropdown {
  position: relative;
  display: flex;
  gap: 2px;
}

.header-currency-dropdown p {
  cursor: pointer;
  width: 124px;
}

.header-currency-dropdown-arrow {
  position: absolute;
  right: 0;
  pointer-events: none;
}

.header-currency-shipping > ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header-currency-shipping ul li {
  display: flex;
}

.header-currency-shipping ul li {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header-currency-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 30px;

  background: #fff;

  width: 200px;
  padding: 8px 0px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);

  z-index: 2;
}

.header-currency-list li {
  width: 100%;
  height: 36px;
  padding: 9px 16px 8px 16px;
  cursor: pointer;
}

.header-currency-list li:hover {
  background: #e5f1ff;
}

.header-currency-list li p {
  font-weight: 400;
}

.header-currency-list li p:active {
  color: var(--primary);
}

.header-shipping-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.header-shipping-dropdown p {
  cursor: pointer;
  width: 115px;
}

.header-current-shipping {
  position: absolute;
  right: 35px;
  width: 22px;
  height: 16px;
  margin-left: 6px;
  pointer-events: none;
}

.header-shipping-dropdown-arrow {
  position: absolute;
  right: 0;
  margin-left: 9px;
  pointer-events: none;
}

.header-flags-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 30px;

  background: #fff;

  width: 200px;
  padding: 8px 0px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);
  z-index: 2;
}

.header-flags-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 36px;
  padding: 9px 16px 8px 16px;
  cursor: pointer;
}

.header-flags-list li:hover {
  background: #e5f1ff;
}

.header-flags-list li:active {
  color: #0d6efd;
}

.header-flags-list li img {
  width: 22px;
  height: 16px;
}

.header-flags-list li p {
  font-weight: 400;
}

.hidden {
  display: none;
}

/* ******** Responsive ******** */

.resp-header-lower {
  display: none;
  gap: 4px;
  padding-left: 25px;
}

.resp-header-lower div {
  padding: 9px 9px 8px 9px;
  /* padding-top: 9px; */
  background: #eff2f4;
  height: 36px;
  border-radius: 6px;
  flex-shrink: 0;
}

.resp-header-lower a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
}

@media (max-width: 480px) {
  .header-lower-wrapper {
    display: none;
  }

  .header-lower {
    height: 69px;
    max-width: 360px;
    /* overflow: hidden; */
    border: none;
    overflow: hidden;
  }

  .resp-header-lower {
    display: flex;
  }
}
