.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  max-width: 1180px;
  width: 100%;
  min-height: 64px;
}

.crumb {
  display: flex;
  gap: 3px;
}

.breadcrumbs .crumb:last-child img {
  display: none;
}
.breadcrumbs .crumb a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--gray-500, #8b96a5);
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}

/* @media (max-width: 480px) {
  .breadcrumbs {
    display: none;
  }
} */
