.super-discount {
  width: 100%;
  height: 120px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #005ade;
  border-radius: 8px;
}

.super-discount-title {
  width: min(100%, 745px);
  height: 100%;
  background: url('../../assets/super-discount/skew.png');
}

.super-discount-title h3 {
  margin-top: 28px;
  margin-left: 30px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.super-discount-title p {
  margin-top: 3px;
  margin-left: 30px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.shop-now {
  width: 108px;
  height: 40px;

  background: #ff9017;
  color: #fff;

  border: none;
  border-radius: 6px;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.shop-now:hover {
  border: 2px solid #ff9017;
  background: none;
  color: #ff9017;
}
