.aside-container {
  width: 230px;
}

.category,
.brands,
.features,
.price-range,
.condition,
.ratings {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dee2e7;
  padding-bottom: 20px;
}

.price-range {
  gap: 4px;
}

.title {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark, #1c1c1c);
}

.category ul,
.brands ul,
.features ul,
.condition ul,
.ratings ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.category ul li,
.brands ul li,
.features ul li,
.condition ul li,
.ratings ul li {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
}

.ratings ul li label img {
  pointer-events: none;
}

.category ul li a {
  text-decoration: none;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-600, #505050);
}

ul li input[type='checkbox'] {
  appearance: none;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  cursor: pointer;
}

ul li input[type='checkbox']:checked {
  position: relative;
  background-color: #0d6efd;
  border: 2px solid #0d6efd;
}

ul li input[type='checkbox']:checked::after {
  content: url('../../assets/mobile-accessories/check-mark.svg');
  position: absolute;
  width: 13px;
  height: 9px;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
}

ul li input[type='radio'] {
  position: relative;
  appearance: none;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 13px;
}

ul li input[type='radio']:checked {
  border: 2px solid #0d6efd;
}

ul li input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;

  border-radius: 50%;
  border: 2px solid #0d6efd;

  background-color: #0d6efd;
}

ul li label:hover {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background: none;
  color: var(--primary, #0d6efd);

  cursor: pointer;
}

.price-range form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Double slider */

.price-range-slider-wrapper {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.price-range-slider {
  width: 100%;
}

.price-range-slider div:nth-child(1) {
  background: #afd0ff;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.price-range-slider div:nth-child(2) {
  background: #0d6efd;

  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.price-range-slider div:nth-child(4),
.price-range-slider div:nth-child(5) {
  width: 20px;
  height: 20px;

  position: absolute;
  top: -8px;

  background: #fff;
  border: 1px solid #afd0ff;
  border-radius: 50%;

  outline: none;

  cursor: pointer;
}

.price-range-minmax {
  display: flex;
  gap: 9px;
}

.price-range-min {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-range-min label {
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
}

.price-range-min input {
  width: 111px;
  height: 40px;
  padding-left: 10px;

  font-size: 16px;
  font-weight: 400;
  color: var(--gray-400, #bdc4cd);

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.price-range-max {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-range-max input {
  width: 111px;
  height: 40px;
  padding-left: 10px;

  font-size: 16px;
  font-weight: 400;
  color: var(--gray-400, #bdc4cd);

  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.price-range-max label {
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
}

.price-range form button {
  width: 228px;
  height: 40px;
  margin-top: 8px;

  background-color: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;

  color: #0d6efd;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.2s ease-in-out;
}

.price-range form button:hover {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}

@media (max-width: 480px) {
  .aside-container {
    display: none;
    width: 340px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 14px;

    padding-inline: 25px;
    padding-block: 30px;
    background: #fff;
    border-block: 1px solid #dee2e7;
    border-radius: 8px;
    box-shadow: 0 5px 10px 10px #1c1c1c30;

    overflow-y: scroll;
    z-index: 1;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .aside-container::-webkit-scrollbar {
    display: none;
  }

  .category,
  .brands,
  .features,
  .price-range,
  .condition,
  .ratings {
    padding-bottom: 10px;
  }

  .title {
    height: 40px;
  }

  .category ul li,
  .brands ul li,
  .features ul li,
  .condition ul li,
  .ratings ul li {
    height: 30px;
    width: auto;
  }

  .category ul li a {
    width: auto;
  }

  ul li input[type='checkbox'] {
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }

  ul li input[type='checkbox']:checked {
    position: relative;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
  }

  ul li input[type='checkbox']:checked::after {
    content: url('../../assets/mobile-accessories/check-mark.svg');
    position: absolute;
    width: 13px;
    height: 9px;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
  }

  ul li input[type='radio'] {
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }

  /* Double slider */

  .price-range-slider-wrapper {
    height: 20px;
    margin-bottom: 10px;
  }

  .price-range-min label {
    font-size: 14px;
  }

  .price-range-min input {
    width: 111px;
    height: 30px;
    font-size: 14px;
  }

  .price-range-max input {
    width: 111px;
    height: 30px;
    font-size: 14px;
  }

  .price-range-max label {
    font-size: 14px;
  }

  .price-range form button {
    height: 30px;
    font-size: 14px;
  }

  .resp-show {
    display: block;
  }
}
