footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 324px;
  background: #fff;
  /* margin-bottom: 5px; */
}

.footer-upper {
  width: 1180px;
  height: 256px;
  padding-top: 40px;
  display: flex;
}

.footer-brand {
  width: 276px;
}

.footer-brand p {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #505050;
}

.footer-social-links {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.footer-social-links a {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.footer-social-links a:hover {
  transform: scale(0.9);
}

.footer-info {
  display: flex;
  gap: 64px;
  margin-left: 61px;
}

/* About, Partnership*/

.footer-info-about h4,
.footer-info-partnership h4,
.footer-info-information h4,
.footer-info-forUsers h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark);
}

.footer-info-information {
  margin-left: 2px;
}

.footer-info-forUsers {
  margin-left: 27px;
}

.footer-info-getApp {
  margin-left: 25px;
}

.footer-about-links,
.footer-partnership-links,
.footer-information-links,
.footer-forUsers-links {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 10px;
}

.footer-about-links a,
.footer-partnership-links a,
.footer-information-links a,
.footer-forUsers-links a {
  text-decoration: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--gray-500);
}

.footer-info-getApp h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark);
}

.footer-getApp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}

/* Lower Footer */

.footer-lower {
  display: flex;
  justify-content: center;
  height: 68px;
  width: 100%;
  background: #eff2f4;
  border-top: 1px solid #dee2e7;
}

.footer-lower-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #606060;
}

.footer-change-lang {
  display: flex;
  align-items: center;
  position: relative;

  cursor: pointer;
}

.footer-flag {
  width: 24px;
  pointer-events: none;
}

.footer-change-lang p {
  margin-left: 6px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #606060;
  pointer-events: none;
}

.footer-arrow {
  margin-right: 6px;
  pointer-events: none;
}

.footer-change-lang-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  bottom: 30px;
  left: -17px;

  background: #fff;

  width: 150px;
  padding: 8px 0px;

  list-style: none;

  border-radius: 6px;
  border: 1px solid var(--gray-200, #eff2f4);
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(96, 96, 96, 0.2);

  z-index: 2;
}

.footer-change-lang-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  width: 100%;
  height: 36px;
  padding: 9px 16px 8px 16px;
  cursor: pointer;
}

.footer-change-lang-list li:hover {
  background: #e5f1ff;
}

.footer-change-lang-list li img {
  width: 24px;
}

.hidden {
  display: none;
}

@media (max-width: 1280px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .footer-upper {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 30px;
  }

  .footer-info-forUsers {
    margin-left: 0;
  }

  .footer-info-getApp {
    margin-left: 0;
  }

  .footer-lower {
    margin-top: 0;
    width: 100%;
    padding: 0 20px;
    background: #eff2f4;
    border-top: 1px solid #dee2e7;
  }

  .footer-lower-content {
    padding-inline: 30px;
  }
}

@media (max-width: 989px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 989px;
    width: 100%;
    height: auto;
  }

  .footer-upper {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-info {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 30px;
  }

  .footer-lower {
    margin-top: 0;
    width: 100%;
    padding: 0 20px;
    background: #eff2f4;
    border-top: 1px solid #dee2e7;
  }

  .footer-lower-content {
    padding-inline: 30px;
  }
}

@media (max-width: 768px) {
  footer {
    height: auto;
  }

  .footer-upper {
    display: none;
  }

  .footer-lower {
    margin-top: 0;
    height: 68px;
    width: 100%;
    padding: 0 20px;
    background: #eff2f4;
    border-top: 1px solid #dee2e7;
  }

  .footer-lower-content {
    width: 360px;
    padding-inline: 10px;
  }

  .footer-change-lang-list {
    position: absolute;
    bottom: 30px;
    left: -17px;
    width: 140px;
  }
}

@media (max-width: 480px) {
  footer {
    height: auto;
  }

  .footer-upper {
    display: none;
  }

  .footer-lower {
    margin-top: 0;
    height: 68px;
    width: 100%;
    padding: 0 20px;
    background: #eff2f4;
    border-top: 1px solid #dee2e7;
  }

  .footer-lower-content {
    width: 360px;
    padding-inline: 10px;
  }

  .footer-change-lang-list {
    position: absolute;
    bottom: 30px;
    left: -17px;
    width: 140px;
  }
}
