.list-container {
  max-width: 920px;
  width: 100%;

  margin-top: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  width: 360px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

@media (max-width: 1280px) {
  .grid {
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    padding-inline: 30px;
  }
}

@media (max-width: 989px) {
  .flex {
    align-items: center;
    gap: 8px;
    padding-inline: 30px;
  }

  .grid {
    max-width: 600px;
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    padding-inline: 30px;
  }
}

@media (max-width: 768px) {
  .flex {
    align-items: center;
    gap: 8px;
    padding-inline: 30px;
  }

  .grid {
    max-width: 600px;
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    padding-inline: 30px;
  }
}

@media (max-width: 480px) {
  .flex {
    align-items: center;
    gap: 8px;
  }

  .grid {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    padding-inline: 10px;
  }
}
