:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.section2-row2-product {
  display: flex;
  justify-content: space-between;
  width: 224px;
  height: 127px;
  padding-top: 20px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  cursor: pointer;
}

.row2-product-title h3 {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--dark);
}

.row2-product-title p {
  margin-top: 9px;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-500);
}

.row2-product-image {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  width: 82px;
  height: 82px;
  margin-bottom: 3px;
  margin-right: 1px;
}

.row2-product-image img {
  max-width: 100%;
  max-height: 80%;
  margin: 0 auto;
}

/* ******** Responsive ******** */

.row2-product-price-resp {
  display: none;
  margin-top: 9px;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-500);
}

@media (max-width: 480px) {
  .section2-row2-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 160px;
    padding-top: 0;
    padding-left: 0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .row2-product-image {
    align-self: center;
    display: flex;
    align-items: center;
    width: 98px;
    height: 98px;
    margin-bottom: 0;
    margin-right: 0;
  }

  .row2-product-title {
    order: 1;
  }

  .row2-product-title h3 {
    font-size: 13px;
    margin-top: 4px;
  }

  .row2-product-title p:first-of-type {
    display: none;
  }

  .row2-product-price-resp {
    display: block;
  }

  .row2-product-title p {
    margin-top: 4px;
    font-size: 13px;
  }
}
