:root {
  --primary: #0d6efd;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #fff;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* width: 1180px; */

  margin-top: 30px;
  margin-left: 3px;
}

.section2-row1 {
  display: flex;
  align-items: center;
  width: 1180px;
  height: 240px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
  background: var(--white);
}

.section2-row1-offers {
  width: 280px;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.section2-row1-offers h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: var(--dark);
}

.section2-row1-offers-subtitle {
  margin-top: -3px;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-500);
}

.section2-row1-offers-countdown {
  display: flex;
  gap: 6px;
  margin-top: 17px;
}

.timer-card {
  width: 45px;
  height: 50px;
  padding-top: 7px;
  border-radius: 4px;
  background: #606060;
  text-align: center;
}

.timer-card h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.timer-card p {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
}

/* *********************************** */

.section2-row2,
.section2-row3 {
  display: flex;
  align-items: center;
  width: 1180px;
  height: 257px;

  border: 1px solid #dee2e7;
  border-radius: 6px;
  background: var(--white);
}

.section2-row2-bg {
  background: '#FFE0B0';
  height: 100%;
}

.section2-row2-home {
  width: 280px;
  height: 100%;

  background: url('../../../assets/home/section2/sofa.png') no-repeat center;
}

.section2-row2-home h3,
.section2-row3-home h3 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;

  color: var(--dark);
}

.section2-row2-home button,
.section2-row3-home button {
  width: 123px;
  height: 40px;
  margin-top: 17px;
  margin-left: 19px;

  /* padding: 0px 16px; */

  font-size: 16px;
  font-weight: 500;

  border: 1px solid var(--white, #fff);
  border-radius: 6px;
  background: var(--white, #fff);
  color: var(--dark);

  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.section2-row3-home button {
  margin-top: 20px;
}

.section2-row2-home button:hover,
.section2-row3-home button:hover {
  background: var(
    --primary-gradient,
    linear-gradient(180deg, #127fff 0%, #0067ff 100%)
  );
  color: var(--white);
  border: none;
}

.section2-row2-products,
.section2-row3-products {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* *********************************** */

.section2-row3-bg {
  background: '#C4C4C4';
  height: 100%;
}

.section2-row3-home {
  width: 280px;
  height: 100%;

  background: url('../../../assets/home/section2/elecronics-bg.png') no-repeat
    center;
}
