.container {
  width: min(100%, 1180px);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

.container h2 {
  color: #1c1c1c;
  font-size: 26px;
}

.container img {
  max-width: 350px;
}

.text {
  font-size: 18px;
}

.go-home {
  padding: 10px;
  color: #fff;
  font-size: 16px;

  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  border: 1px solid #dee2e7;
  border-radius: 6px;

  transition: transform 0.2s;
  cursor: pointer;
}

.go-home a {
  text-decoration: none;
  color: #fff;
}

.go-home:hover {
  transform: scale(0.97);
}

@media (max-width: 480px) {
  .container {
    width: min(100%, 360px);

    gap: 15px;
  }

  .container h2 {
    font-size: 20px;
  }

  .container img {
    max-width: 200px;
  }

  .container p {
    text-align: center;
    max-width: 350px;
  }

  .text {
    font-size: 16px;
  }

  .go-home {
    font-size: 13px;
  }
}
